<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta id="viewport" name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="fancyapps/source/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>

    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">var $= jQuery.noConflict();</script>
    <script type="text/javascript" src="fancyapps/source/jquery.fancybox.js"></script>


</head>
<body>

    <!--<img src="img/background.png" class="background"/>-->

    <div class="title"></div>

        <div class="gallery">

            <div class="sorting">

                <div>
                    <span><a href="/add-moment">+</a></span>
                    <a class="sortLink selected" data-keyword="all" href="#">All categories</a>
                    <a class="sortLink" data-keyword="1" href="#">Activity</a>
                    <a class="sortLink" data-keyword="2" href="#">Language</a>
                    <a class="sortLink" data-keyword="3" href="#">Personality</a>
                    <a class="sortLink" data-keyword="4" href="#">Cognition</a>
                    <a class="sortLink" data-keyword="5" href="#">Sociality</a>
                    <a class="sortLink" data-keyword="6" href="#">Body</a>
                    <a class="sortLink" data-keyword="7" href="#">Other</a>
                    <div class="clear_both"></div>
                </div><br>
            </div>

            <div class="photos">

                <div class="thumbnail_container" id="moment-holder">

                </div>

            </div>

        </div>

</body>
<script src="js/main2.js"></script>

</html>